body {
    font-family: Arial, sans-serif;
    background-color: #b9d1fb;
    margin: 3;
    padding: 3;
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
    color: #343a40;
    padding: 30px;
}

table {
    border-radius: 7px;
    margin: 30px auto;
    background-color: #c2d6f8;
    border: 2px solid #efefef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #010000;
}